SERVICES['node']['monitoring'].update({
    'Osprey-public': {
        'request': {
            'url': 'https://${PAVICS_FQDN_PUBLIC}/${TWITCHER_PROTECTED_PATH}/osprey?service=WPS&version=1.0.0&request=GetCapabilities'
        },
    },
    'Osprey': {
        'request': {
            'url': 'http://${PAVICS_FQDN}:8100/wps?service=WPS&version=1.0.0&request=GetCapabilities'
        }
    },
})

# vi: tabstop=8 expandtab shiftwidth=4 softtabstop=4 syntax=python
