[server]
outputurl = https://${PAVICS_FQDN_PUBLIC}/wpsoutputs
outputpath = /data/wpsoutputs
maxrequestsize = 65gb
parallelprocesses = 14

[logging]
level = INFO
db_echo = false

${EXTRA_PYWPS_CONFIG}
